<div class="row">
    <div class="col-md-8 offset-md-2 d-flex">
        <div class="search-input">
            <input ng-change="$ctrl.change()" placeholder="{{'search'| translate}}" type="text" ng-model="$ctrl.query">
        </div>
        <select class="custom-select sort" ng-change="$ctrl.change()" ng-model="$ctrl.search">
            <option selected value="inauthor">{{'author' | translate}}</option>
            <option value="intitle">{{'title' | translate}}</option>
        </select>
    </div>
</div>